
	<section>
				<a id="lnkProfile" [routerLink]="['/user-management','profile']" [ngClass]="{'active':  isActiveLink(linkName.profile)}" (click)="setActiveLink( linkName.profile)" >Profile Info</a>

				<a id="lnkProfilePass" [routerLink]="['/user-management','secure_pass']"
				   [ngClass]="{'active':  isActiveLink(linkName.change_pass)}"
				   (click)="setActiveLink( linkName.change_pass)" >Change Password</a>

		<a *ngIf="canShowLink('block_out')" id="lnkProfileBlockout" [routerLink]="['/user-management/','block_out']"
		   [ngClass]="{'active':  isActiveLink(linkName.block_out)}"
		   (click)="setActiveLink( linkName.block_out)" > Add Blockout</a>

	</section>
			<section>
				<a id="lnkSettings" *ngIf="canShowLink('user-management')"  [routerLink]="['/user-management']"
				   [ngClass]="{'active':  isActiveLink(linkName.usermanagement)}" (click)="setActiveLink( linkName.usermanagement)" >Manage Users</a>

			</section>
