
<header id="header-mobile">
	    <button (click)="backClicked()" class="icon-back"></button>
	    <h1>JOB #4353435</h1>
		<section>
			<a href="#" class="header__message"><i class="icon-messages"></i></a>
	        <ul class="dropdown menu" data-disable-hover="true" data-click-open="true" data-dropdown-menu>
	            <li>
	                <a href="#" class="header__profile"><img src="assets/img/dummy/profile.png"></a>
	                <ul class="menu">
	                    <li><a href="#"><i class="icon-logout"></i> Log Out</a></li>
	                </ul>
	            </li>
	        </ul>
		</section>
	</header>

<section id="page-messages">
  <main>
    <h1>MESSAGES</h1>
  </main>
</section>

<section class="messages">
  <section *ngIf='isCurrentUserAdminOrBookingOfficer()' class="messages__conversations">
    <section class="messages__conversations-wrapper" id="conversations-wrapper">
      <ng-container  *ngFor='let mesg of meesageThreads let i = index' >
        <section *ngIf="mesg.messages.length" class="messages__conversation" [ngClass]="{'messages__conversation_active': mesg.user_id === userId}">

            <div>
              <div class="checkbox">
                <input type="checkbox" name=""  value="1" id="job-2a">
                <label for="job-2a"></label>
              </div>
            </div>
            <div>
              <md-checkbox></md-checkbox>
            </div>
            <a (click)='showSingleMessageThread(i)'>
              <div *ngIf='mesg.messages.length > 0'>
                  <span>{{mesg.messages[0].created_at | date: 'h:mma' }}</span> |
                  <span>{{mesg.user_name}}</span>
                  <p class="messages__conversation-text">{{mesg.messages[0].message_body.substring(0,75)}}</p>
              </div>
              <div *ngIf='mesg.messages.length <= 0'>
                <span>{{mesg.last_messaging_time | date: ' d MMM y' }}</span> |
                <span>{{mesg.user_name}}</span>
                <p class="messages__conversation-text"></p>
              </div>
          </a>
        </section>
      </ng-container>

    </section>
  </section>

    <section class="messages__wrapper" [ngClass]="{'messages__wrapper_aside': isCurrentUserAdminOrBookingOfficer()}" id="messages-wrapper">

<perfect-scrollbar>
      <ng-container *ngFor="let message of meesageThread">

        <section class="messages__message" [ngClass]="{ 'messages__message_left' : message.sender.type !== 'Interpreter'
        , 'messages__message_right' : message.sender.type === 'Interpreter' }">

          <figure class="messages__figure">
            <img src="{{message.sender.photo_url}}" alt="">  </figure>
          <section class="messages__inner">
            <div class="messages__title">
              <strong class="messages__person">{{message.sender.first_name}} {{ message.sender.last_name.charAt(0)}}</strong>
              <span class="messages__time">
                <i class="icon-time"></i> {{message.created_at | date: ' d MMM  y | h:mma' }}</span>
               </div>
            <p class="messages__text">{{message.message_body}}
              <a href="#">#{{message_tage}}</a> booking!</p>
            <button class="messages__button">{{message.sender.id}}</button>
          </section>
        </section>
      </ng-container>
</perfect-scrollbar>
  </section>
  <form class="messages__form" [ngClass]="{'messages__form_reduced':isCurrentUserAdminOrBookingOfficer()}" style="position: fixed;">
  <button *ngIf='isTagShow' (click)="sendMessageTagHide()" class="button messages__formButton">{{message_tage }}
    <i name='messages__Xtag' *ngIf='isTagShow'>x</i>
  </button>
    <section class="messages__formInner">
        <textarea [(ngModel)]="message_body" required (keyup)="checkEmpty()" name="message_body" class="messages__formInput"></textarea>
        <button [disabled]="!message_body" name="messages__formSend" (click)="sendMessage()" class="messages__formSend"></button>
      </section>
    </form>
</section>
