
<header id="header-mobile">
  <button class="icon-back"></button>
  <h1>JOB #4353435</h1>
  <section>
    <a href="#" class="header__message">
      <i class="icon-messages"></i>
    </a>
    <ul class="dropdown menu" data-disable-hover="true" data-click-open="true" data-dropdown-menu>
      <li>
        <a href="#" class="header__profile">
          <img src="assets/img/dummy/profile.png">
        </a>
        <ul class="menu">
          <li>
            <a href="#">
              <i class="icon-logout"></i> Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</header>

<section id="page-messages">
  <section id="filters">
    <section class="search-bar">
      <input type="text" name="search" id="search" placeholder="Search...">
      <button>
        <i class="icon-glass"></i>
      </button>
    </section>

    <section class="filters">
      <button class="button">Unallocated</button>
      <button class="button">Court
        <br>Melbourne</button>
      <button class="button">Unallocated
        <br>Next week</button>
      <button class="button">New
        <br>bookings</button>
      <button class="button">Filter 5</button>

      <div class="separator"></div>

      <ul class="dropdown menu custom gray" data-dropdown-menu>
        <li>
          <a href="#">All Messages</a>
          <ul class="menu">
            <li>
              <a href="#">All</a>
            </li>
            <li>
              <a href="#">AUSLAN</a>
            </li>
            <li>
              <a href="#">VRI</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="dropdown menu custom" data-dropdown-menu>
        <li>
          <a href="#">Actions</a>
          <ul class="menu right-side">
            <li>
              <a href="#">
                <i></i> Use as template</a>
            </li>
            <li>
              <a href="#">
                <i></i> Add attachments</a>
            </li>
            <li>
              <a href="#">
                <i></i> Cancel</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
  <main>
    <h1>MESSAGES</h1>
  </main>
</section>

<section class="messages">
  <section class="messages__conversations">
    <section class="messages__conversations-wrapper" id="conversations-wrapper">
      <section class="messages__conversation">
        <div>
          <div class="checkbox">
            <input type="checkbox" name="" value="1" id="job">
            <label for="job"></label>
          </div>
        </div>
        <div>
          <md-checkbox></md-checkbox>
        </div>
        <div>
          &nbsp;
        </div>
      </section>
      
      <section class="messages__conversation" *ngFor='let message of meesageThreads let i = index' >
        <div>
          <div class="checkbox">
            <input type="checkbox" name="" value="1" id="job-2a">
            <label for="job-2a"></label>
          </div>
        </div>
        <div>
          <md-checkbox></md-checkbox>
        </div>
        <div>
          <a (click)='showSingleMessageThread(i)'>
            <span>{{message.last_messaging_time}}</span> |
            <span>{{message.user_name}}</span>
            <p class="messages__conversation-text">Hey there, I have to give back the job as I was previously booked on a job elsewhere and hav...</p>
          </a>
        </div>
      </section>
     
    </section>
  </section>


  <section class="messages__wrapper messages__wrapper_aside" id="messages-wrapper">
     
    <section class="messages__wrapper" id="messages-wrapper">
      
      <ng-container *ngFor="let message of meesageThread">
         
        <section class="messages__message" [ngClass]="{ 'messages__message_right' : message_thread_id === userId, 'messages__message_left' : message_thread_id !== userId }">
          
          <figure class="messages__figure">
            <img src="{{message.sender.photo_url}}" alt="">  </figure>
          <section class="messages__inner">
            <div class="messages__title">
              <strong class="messages__person">{{message.sender.first_name}}</strong>  
              <span class="messages__time">  
                <i class="icon-time"></i> {{message.created_at | date: 'medium' }}</span>
               </div>
            <p class="messages__text">{{message.message_body}} 
              <a href="#">#{{message_tage}}</a> booking!</p>
            <button class="messages__button">{{message.sender.id}}</button>
          </section>
        </section>
      </ng-container>
  </section>
  <form class="messages__form messages__form_reduced" style="position: fixed;">
<button (click)="sendMessageTagHide()" class="button messages__formButton">{{message_tage }}
  <i name='messages__Xtag' *ngIf='isTagShow'>x</i>
</button>    <section class="messages__formInner">
      <textarea [(ngModel)]="message_body" required (keyup)="checkEmpty()" name="message_body" class="messages__formInput"></textarea>
      <button [disabled]="!message_body" name="messages__formSend" (click)="sendInterpreterMessages()" class="messages__formSend"></button>
    </section>
  </form>
</section>