<app-mobile-header title="MESSAGES" backLink="/booking-management" [showBackLink]="true"></app-mobile-header>


<section id="page-messages">
    <main>
        <h1>MESSAGES</h1>
    </main>
</section>
<section class="messages">
    <section *ngIf='isCurrentUserAdminOrBookingOfficer()' class="messages__conversations">
        <section class="messages__conversations" [ngClass]="{'messages__conversations_withPagination': totalItems > 10}"
                 id="conversations-wrapper">
            <ng-container
                    *ngFor="let mesg of messageThreads  | paginate: { itemsPerPage: 10, currentPage: messageThreadPage ,totalItems: totalItems } let i = index">
                <section class="messages__conversation"
                         [ngClass]="{'messages__conversation_active': i === selectedMessageThread}">
                    <a (click)='showSingleMessageThread(i)'>
                        <div *ngIf='mesg.messages_count > 0'>
                            <span>{{mesg.last_messaging_time | date: 'h:mma' }}</span> |
                            <span>{{mesg.user_name}}</span>
                            <p class="messages__conversation-text">{{mesg.last_message_body.substring(0,75)}}</p>
                        </div>
                        <div *ngIf='mesg.messages_count < 1'>
                            <span>{{mesg.last_messaging_time | date: 'h:mma' }}</span> |
                            <span>{{mesg.user_name}}</span>
                            <p class="messages__conversation-text"> ..... </p>
                        </div>

                    </a>
                </section>
            </ng-container>

        </section>
    </section>
    <div *ngIf="totalItems > 10 && isCurrentUserAdminOrBookingOfficer()"
         class="element element_inline messages__pagination">
        <pagination-controls (pageChange)="getPage($event)" class="my-pagination"></pagination-controls>
    </div>
    <section class="messages__wrapper" [ngClass]="{'messages__wrapper_aside': isCurrentUserAdminOrBookingOfficer()}"
             id="messages-wrapper">

        <perfect-scrollbar fxFlex [config]="config" [scrollIndicators]="true">
            <ng-container *ngFor="let message of messages">

                <section class="messages__message" [ngClass]="{ 'messages__message_left' : message.sender.type !== 'Interpreter'
        , 'messages__message_right' : message.sender.type === 'Interpreter' }">

                    <figure class="messages__figure">
                        <img src="{{message.sender.photo_url}}" alt=""></figure>
                    <section class="messages__inner">
                        <div class="messages__title">
                            <strong class="messages__person">{{message.sender.first_name}} {{
                                message.sender.last_name.charAt(0)}}</strong>
                            <span class="messages__time">
                <i class="icon-time"></i> {{message.created_at | date: ' d MMM  y | h:mma' }}</span>
                        </div>
                        <p class="messages__text">{{message.message_body}}</p>
                    </section>
                </section>

            </ng-container>
        </perfect-scrollbar>
        <button *ngIf="messageCount > messagePage * 10"
                (click)="loadMore()" class="button messages__formButton">Load More ..
        </button>

    </section>
    <form class="messages__form" [ngClass]="{'messages__form_reduced':isCurrentUserAdminOrBookingOfficer()}"
          style="position: fixed;">
        <button *ngIf='isTagShow' (click)="sendMessageTagHide()" class="button messages__formButton">{{message_tag }}
            <i name='messages__Xtag' *ngIf='isTagShow'>x</i>
        </button>
        <section class="messages__formInner">
            <textarea [(ngModel)]="message_body" required (keyup)="checkEmpty()" name="message_body"
                      class="messages__formInput"></textarea>
            <button [disabled]="!message_body" name="messages__formSend" (click)="sendMessage()"
                    class="messages__formSend"></button>
        </section>
    </form>
</section>

