.search-bar{
    width: 100% !important;
}

@media only screen and (max-width: 999px){
    #filters {
        padding: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}