	<body class="page-login">
		<div class="wrapper">
			<div class="row align-middle">
				<div class="small-5 columns columns-signin row align-middle">

					<div class="columns">
						<div class="logo">
							<img src="assets/img/logo.svg" alt="">
						</div>
						<!-- form login-->
						<form class="form-login" action="#">
							<label class="icon-email">
								EMAIL
								<input type="email" placeholder="Enter email" name="email">
							</label>
							<label class="icon-lock">
								PASSWORD
								<input type="password" placeholder="Enter password" name="pass">
							</label>

							<p class="forgot-pass">
								<a href="#">Forgot your password?</a>
							</p>

							<button type="submit" class="login button">Log In</button>

							<div class="sep-or"><span>or</span></div>
							<p class="text-muted">Don’t Have an Account ?</p>
							<a href="signup.html" class="signup button">CREATE AN ACCOUNT</a>
						</form>
						<!-- /form login-->
					</div>
				</div>
				<div class="small-7 columns columns-slogan">
					<div class="slogan">
						CONNECTING PEOPLE
						<br>
						TO THE WORLD
					</div>
				</div>
			</div>
		</div>
