	<div class="page-login">
		<div class="wrapper">
			<div class="row align-middle">
				<div class="small-5 columns columns-signin row align-middle">

					<div class="columns">
						<div class="logo">
							<img src="assets/img/logo.svg" alt="">
						</div>
						<!-- form login-->
						<form (ngSubmit)="onSubmit()" class="form-login" #loginForm="ngForm">

							<label class="icon-email">
								EMAIL
								<input type="email" id="email" name="email"
								placeholder="Enter your email"
								[(ngModel)]="model.email" name="email" #email="ngModel" email required>
								<span *ngIf="email.touched && !email.errors?.email;" class="form-valid"></span>
								<!-- p *ngIf="email.errors?.email;">The email is required and has to be in email format</p -->
								<span *ngIf="(email.dirty || email.touched) && (email.errors?.required || email.errors?.email);" class="form-error is-visible">
										<span data-tooltip="86bu89-tooltip" aria-haspopup="true"
										class="has-tip left" data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4" title=""
										aria-describedby="1i4eab-tooltip" data-yeti-box="1i4eab-tooltip"
										data-toggle="1i4eab-tooltip" data-resize="1i4eab-tooltip" data-events="resize">!</span>
									</span>
							</label>

							<label class="icon-lock">
								PASSWORD
								<input id="pass" name="pass"  type="password"
								placeholder="Enter your password"
								[(ngModel)]="model.password" [rangeLength]="[6, 20]" name="pass" #pass="ngModel" required>
						    <!-- p *ngIf="pass.errors?.required">The password is required and has to be strong</p -->
								<span *ngIf="pass.touched && !pass.errors?.required;" class="form-valid"></span>
								<span *ngIf="(pass.dirty || pass.touched) && (pass.errors?.required || pass.errors?.rangeLength);" class="form-error is-visible">
										<span data-tooltip="86bu89-tooltip" aria-haspopup="true"
										class="has-tip left" data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4" title=""
										aria-describedby="1i4eab-tooltip" data-yeti-box="1i4eab-tooltip"
										data-toggle="1i4eab-tooltip" data-resize="1i4eab-tooltip" data-events="resize">!</span>
									</span>
							</label>

							<p class="forgot-pass">
								<a [routerLink]="['/reset']" >Forgot your password?</a>
							</p>

							<button type="submit" [disabled]="!loginForm.form.valid" class="login button">Log In</button>

							<div class="sep-or"><span>or</span></div>
							<p class="text-muted">Don’t Have an Account ?</p>
							<a [routerLink]="['/register']" class="signup button">CREATE AN ACCOUNT</a>
						</form>
						<!-- /form login-->
					</div>
				</div>
				<div class="small-7 columns columns-slogan">
					<div class="slogan">
						CONNECTING PEOPLE
						<br>
						TO THE WORLD
					</div>
				</div>
			</div>
		</div>
	</div>
