<header id="header-mobile">
  <button (click)="backClicked()" class="icon-back"></button>
  <h1 *ngIf="!jobAccessError">MESSAGES</h1>
</header>
<section id="page-jobs">
  <app-booking-filter (appBookingFilter)="fetchBookings()"></app-booking-filter>
</section>
<section class="messages" style="margin: 4%">
  <section class="messages__wrapper" id="messages-wrapper">
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
  </section>
  <form class="messages__form">
    <button class="button messages__formButton">130528 x</button>
    <section class="messages__formInner">
      <textarea class="messages__formInput">You can add prefered or blocked interpreters in this section</textarea>
      <button class="messages__formSend"></button>
    </section>
  </form>
</section>
<section class="messages hidden-desktop">
  <section class="messages__wrapper" id="messages-wrapper">
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_left">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="mssages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
    <section class="messages__message messages__message_right">
      <figure class="messages__figure">
        <img src="assets/img/dummy/anna.png" alt="">
      </figure>
      <section class="messages__inner">
        <div class="messages__title">
          <strong class="messages__person">JENNIFER L.</strong>
          <span class="messages__time">
            <i class="icon-time"></i> 14 JUL '17 | 5:20PM</span>
        </div>
        <p class="messages__text">No worries. We will cancel the
          <a href="#">#130528</a> booking!</p>
        <button class="messages__button">130528</button>
      </section>
    </section>
  </section>
  <form class="messages__form">
    <button class="button messages__formButton">130528 x</button>
    <section class="messages__formInner">
      <textarea class="messages__formInput">You can add prefered or blocked interpreters in this section</textarea>
      <button class="messages__formSend"></button>
    </section>
  </form>
</section>


