<section id="filters">
			<section class="search-bar" style="width: 100%">
				<!--<input type="text" name="search" id="search" placeholder="Search...">-->
				<!--<button><i class="icon-settings"></i></button>-->
			</section>

			<section class="filters" style="width: 10%">
				<!--<button class="button">Interpreters</button>-->
				<!--<button class="button">Organizations</button>-->
				<!--<button class="button">Booking<br>Officers</button>-->
				<!--<button class="button">Filter 5</button>-->

				<!--<div class="separator"></div>-->

				<!--<ul class="dropdown menu custom gray" data-dropdown-menu>-->
					<!--<li>-->
						<!--<a href="javascript:void(0)">All Users</a>-->
						<!--<ul class="menu">-->
							<!--<li><a href="javascript:void(0)">All</a></li>-->
							<!--<li><a href="javascript:void(0)">AUSLAN</a></li>-->
							<!--<li><a href="javascript:void(0)">VRI</a></li>-->
						<!--</ul>-->
					<!--</li>-->
				<!--</ul>-->
				<!--<ul class="dropdown menu custom" data-dropdown-menu>-->
					<!--<li>-->
						<!--<a href="javascript:void(0)">Actions</a>-->
						<!--<ul class="menu right-side">-->
							<!--<li><a href="javascript:void(0)"><i></i> Use as template</a></li>-->
							<!--<li><a href="javascript:void(0)"><i></i> Add attachments</a></li>-->
							<!--<li><a href="javascript:void(0)"><i></i> Cancel</a></li>-->
						<!--</ul>-->
					<!--</li>-->
				<!--</ul>-->

				<button (click)="newUser()" class="button active">+ New User</button>
			</section>
</section>
