<header id="header">
		<a href="/"><i class="icons icons-logo"></i></a>

		<nav>
			<a href="#" class="active"><span><i class="icon-bookings"></i> BOOKINGS</span></a>
			<a href="#"><span><i class="icon-messages"></i> MESSAGES</span></a>
			<a href="#"><span><i class="icon-reports"></i> REPORTS</span></a>
		</nav>

		<button class="button">+ New Booking</button>

		<section>
			<ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a href="#"><img src="assets/img/dummy/anna.png"> Anna Smith</a>
					<ul class="menu">
						<li><a href="#"><i class="icon-settings"></i> Settings</a></li>
						<li><a id="lnkLogout" [routerLink]="['/authenticate','logout']"><i class="icon-logout"></i> Log Out</a></li>
					</ul>
				</li>
			</ul>
		</section>
	</header>
	
