<section id="page-skill-matrix">
  <app-user-header></app-user-header>
  <section id="submenu">
    <div>
      <button class="button pink" (click)="apply(false)" >Cancel</button>
      <div class="sep"></div>
      <button (click)="apply(true)" [ngClass]="[doSave ? 'button' : 'button inverse not-changed']">Save</button>
    </div>
  </section>
  <main>
    <aside>
      <strong>NAVIGATION</strong>
      <nav>
        <ng-container  *ngFor="let item of appointment_types | enumVal ">
          <ng-container *ngIf="item.value !== 'Other' && item.value !== 'None'">
          <a [ngClass]="{'active': item.value === raw_nature_of_appointment}"  (click)="natureOfApptChange(item.value)">{{item.value}}
          </a></ng-container></ng-container>
      </nav>
    </aside>
    <section>
      <h1>SKILL MATRIX {{userDisplayName}}</h1>
      <table>
        <thead>
        <tr>
          <th>Area of Knowledge</th>
          <md-radio-group class="lvl_skills" [(ngModel)]="currentLevel">
            <th width="16%" *ngFor="let lvl of levels" ><md-radio-button class="lvl_skills" [value]="lvl">
               {{lvl}}
            </md-radio-button></th>
          </md-radio-group>

        </tr>
        </thead>
      </table>
      <table>
        <tbody>
        <tr>
          <td>&nbsp;</td>
          <td width="16%"><b>1</b></td>
          <td width="16%"><b>2</b></td>
          <td width="16%"><b>3</b></td>
          <td width="16%"><b>n/a</b></td>
        </tr>
        <tr *ngFor="let item of specific_appointment_types | enumVal ">
          <ng-container *ngIf="item.value !== 'Other' && item.value !== 'None'">
          <td>&nbsp;{{item.value}}</td>
          <td *ngFor="let lvl of levels"><md-checkbox  (change)="skillChanged($event)" [checked]="currentLevel === lvl" [value]="lvl">
          </md-checkbox></td>
          </ng-container>
        </tr>

        </tbody>
      </table>
    </section>
  </main>
</section>