<app-user-header></app-user-header>
<div id="page-common">
<main>
  <form class="common-form reduced-top">
    <div class="row small-collapse">
      <div class="row-wrapper">
        <div class="medium-6 columns">
          <div class="form-field">
            <label>FIRST NAME *	</label>

            <input type="text" class="valid" placeholder="" [(ngModel)]="userModel.first_name" name="first_name" #first_name="ngModel" [rangeLength]="[3, 20]" required>
            <span *ngIf="first_name.touched && !first_name.errors?.required && !first_name.errors?.rangeLength;" class="inline-icon inline-icon-valid valid"></span>
            <span *ngIf="first_name.touched && (first_name.errors?.required || first_name.errors?.rangeLength);" class="inline-icon error">
                      <span>Minimum 3 characters required.</span>!</span>
          </div>
        </div>
        <div class="medium-6 columns">
          <div class="form-field">
            <label>LAST NAME *
            </label>

            <input type="text" class="valid" placeholder="" [(ngModel)]="userModel.last_name" name="last_name" #last_name="ngModel" [rangeLength]="[3, 30]" required>
            <span *ngIf="last_name.touched && !last_name.errors?.required && !last_name.errors?.rangeLength;" class="inline-icon inline-icon-valid valid"></span>
            <span *ngIf="last_name.touched && (last_name.errors?.required || last_name.errors?.rangeLength);" class="inline-icon error">
                          <span>Minimum 3 characters required.</span>!</span>
          </div>
        </div>
        <div class="medium-6 columns">
          <div class="form-field">
            <label>EMAIL *
            </label>
            <input type="email" class="inline-icon-user-email" id="email" placeholder="Enter your email"
            [(ngModel)]="userModel.email" name="email" #email="ngModel" email required>
            <span *ngIf="email.touched && !email.errors?.email;" class="inline-icon inline-icon-valid valid"></span>
            <span *ngIf="(email.dirty || email.touched) && (email.errors?.required || email.errors?.email);" class="inline-icon error">
              <span>Email is required</span>!</span>
          </div>
        </div>
        <div class="medium-6 columns">
          <div class="form-field">
            <label>MOBILE * </label>
            <input type="tel" placeholder="" [(ngModel)]="userModel.mobile" name="mobile" #mobile="ngModel" required>
            <span *ngIf="mobile.touched && !mobile.errors?.required;" class="inline-icon inline-icon-valid valid"></span>
            <span *ngIf="mobile.touched && mobile.errors?.required;" class="inline-icon error">
                      <span>Minimum 6 digits required.</span>!</span>
          </div>
        </div>
        <div class="medium-6 columns">
            <div class="form-field"></div>
        </div>
        <div [hidden]='!userModel.verified' class="medium-6 columns">
          <div class="form-field">
            <label>STATUS</label>
            <md-select name="selStatus" [(ngModel)]="selectedStatus">
              <md-option *ngFor="let i of userStatusArray" [value]="i.name" >{{i.name}}</md-option>
            </md-select>
          </div>
        </div>
      </div>
    </div>

    <section class="actions">
      <button name="edit_user"
      [disabled]="last_name.errors ||first_name.errors  || email.errors" (click)="editUser()"> SAVE </button>
    </section>
  </form>
</main>
</div>
