<main>

    <section class="jobs">
        <table id="jobs-responsive" class="custom">
            <thead>
            <tr>
                <th width="4%">
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-1">
                        <label for="job-1"></label>
                    </div>
                </th>
                <th width="5%">
                    <span class="order asc">Job</span>
                    <input type="text" name="job">
                </th>
                <th width="7%">
                    <span class="order asc">Status</span>
                    <ul class="dropdown menu custom" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">All</a>
                            <ul class="menu smaller">
                                <li><a href="javascript:void(0)"><i></i> Option 1</a></li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th>
                    <span class="order asc">State</span>
                    <ul class="dropdown menu custom" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">All</a>
                            <ul class="menu smaller">
                                <li><a href="javascript:void(0)"><i></i> Option 1</a></li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th width="13%">
                    <span class="order desc">Date</span>
                </th>

                <th>
                    <span class="order desc">Org</span>
                    <input type="text" name="org">
                </th>
                <th>
                    <span class="order asc">Client</span>
                    <input type="text" name="client">
                </th>
                <th>
                    <span class="order asc">Suburb</span>
                    <input type="text" name="suburb">
                </th>
                <th width="10%">
                    <span class="order asc">Interpreter</span>
                    <input type="text" name="interpreter">
                </th>
                <th width="12%">
                    <span class="order asc">Booking Type</span>
                    <ul class="dropdown menu custom" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">All</a>
                            <ul class="menu smaller">
                                <!-- li><a href="javascript:void(0)"><i></i> Option 1</a></li -->
                            </ul>
                        </li>
                    </ul>
                </th><th>
                <span class="order asc">Updated</span>
            </th>
                <th width="7%">
                    <span>Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="{'active': isSelectedBooking(booking.id)}" *ngFor="let booking of bookingList"
                (click)="setClickedRow(booking)">
                <td>
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-2">
                        <label for="job-2"></label>
                    </div>
                </td>
                <td class="bookingID">
                    <div class="actions-container">
		<span>	{{booking.id | PrettyID}}
</span>
                        <ul class="dropdown menu custom actions hidden-desktop" data-dropdown-menu>
                            <li>
                                <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                                <ul class="menu right-side green">
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i class="icon-check-mobile"></i> Accept</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i class="icon-help"></i> Tentative</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i class="icon-decline"></i> Decline</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </td>
                <td class="text-center"><i class="status status-ready-to-process"></i></td>
                <td style="text-transform: capitalize">{{stateToString(booking.state)}}</td>
                <td>
                    <div class="job-date">
                                    <span><i class="icon-time hidden-desktop"></i>
                                        <span><span>
										{{booking.venue.start_time_iso | date:'shortTime'}} -
										{{booking.venue.end_time_iso | date:'shortTime'}}</span><span>{{booking.venue.start_time_iso | date:'EEE d MMM yy'}}</span></span>
                                                                            </span>

                        <i *ngIf="isCurrentUserInvitedInterpreter(booking.interpreters)" class= "icon-requested"></i>
                    </div>
                </td>
                <td>Melbourne University</td>
                <td>{{booking.contact.first_name}}</td>
                <td>{{booking.venue.suburb}}</td>
                <td class="text-center truncated">
                    <ng-container *ngIf="booking.interpreters.length > 0;">
                        <span *ngFor="let user of booking.interpreters">
                                    <b *ngIf="isCurrentUser(user.id); else sim_user_Block">
                                        {{user?.first_name  + ' ' + user?.last_name}}
                                    </b>
                                    <ng-template #sim_user_Block>{{user?.first_name  + ' ' + user?.last_name}}</ng-template>

									<br/>
								</span>
                    </ng-container>

                    <span  *ngIf="booking.interpreters.length <1 ;">To be filled</span>
                </td>
                <td><a href="javascript:void(0)" class="attach"><i class="icon-attach"></i></a>
                    {{booking.raw_nature_of_appointment}}
                </td>
                <td><span class="underline">02-06 TS<br>7:15 A</span></td>

                <td>
                    <ul class="dropdown menu custom actions" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                            <ul class="menu right-side green">
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']" ><i class="icon-check-mobile"></i> Accept</a></li>
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i class="icon-help"></i> Tentative</a></li>
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i class="icon-decline"></i> Decline</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>

            </tr>


            </tbody>
        </table>
    </section>
</main>
