.my-pagination /deep/ .ngx-pagination .current {
    background: #02b86e;
}
@media(max-width: 999px){
    .icon-more-icon{
        display: none !important;
    }
    #actions-list{
        display: none;
    }
}
.first-th{
    vertical-align: baseline !important;
}
.dropdown.menu > li > a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown.menu>li .menu>li a.active {
  color: #fff;
  background: #02b86e;
}
