<main>

    <section class="jobs">
        <table id="jobs-responsive" class="custom">
            <thead>
            <tr>
                <th width="4%">
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-1">
                        <label for="job-1"></label>
                    </div>
                </th>
                <th width="5%">
                    <span class="order asc">Job</span>
                    <form #filterByBookingIds="ngForm" class="common-form compact"
                          (ngSubmit)="filter('booking_ids', filterByBookingIds.value.booking_ids)" novalidate>
                        <input type="text" name="booking_ids" [(ngModel)]="bookingFilter.booking_ids">
                    </form>
                </th>
                <th width="7%">
                    <span class="order asc">Status</span>
                    <ul class="dropdown menu custom" id="booking-status" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(filterStatus())}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let status of statusList()">
                                    <a href="javascript:void(0)" (click)="filter('booking_status', status)"><i></i>{{underScoreToSpaces(status)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th>
                    <span class="order asc">State</span>
                    <ul class="dropdown menu custom" id="booking-state" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(bookingFilter.state)}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let state of stateList()">
                                    <a href="javascript:void(0)" (click)="filter('state', state.toLowerCase())"><i></i>{{underScoreToSpaces(state)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th width="23%">
                    <span class="order desc">Date</span>
                    <div class="oneRow">
                        <span>From:</span>
                        <input type="date" name="date_from" [(ngModel)]="bookingFilter.date_from"
                               (change)="filter('date_from', bookingFilter.date_from)">
                    </div>
                    <div class="oneRow">
                        <span>To:</span>
                        <input type="date" name="date_to" [(ngModel)]="bookingFilter.date_to"
                               (change)="filter('date_to', bookingFilter.date_to)">
                    </div>
                </th>

                <th>
                    <span class="order asc">Org</span>
                    <form #filterByOrg="ngForm" class="common-form compact"
                          (ngSubmit)="filter('organisation', filterByOrg.value.organisation)" novalidate>
                        <input type="text" name="organisation" [(ngModel)]="bookingFilter.organisation">
                    </form>
                </th>
                <th>
                    <span class="order asc">Client</span>
                    <form #filterByClientName="ngForm" class="common-form compact"
                          (ngSubmit)="filter('client_name', filterByClientName.value.client_name)" novalidate>
                        <input type="text" name="client_name" [(ngModel)]="bookingFilter.client_name">
                    </form>
                </th>
                <th>
                    <span class="order asc">Suburb</span>
                    <form #filterBySuburb="ngForm" class="common-form compact"
                          (ngSubmit)="filter('suburb', filterBySuburb.value.suburb)" novalidate>
                        <input type="text" name="suburb" [(ngModel)]="bookingFilter.suburb">
                    </form>
                </th>
                <th width="10%">
                    <span class="order asc">Interpreter</span>
                    <input type="text" name="interpreter">
                </th>
                <th width="12%">
                    <span class="order asc">Booking Type</span>
                    <ul class="dropdown menu custom" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{bookingFilter.booking_type}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let booking_type of assignmentCategoryList()">
                                    <a href="javascript:void(0)" (click)="filter('booking_type', booking_type)"><i></i>{{booking_type}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th><!-- th>
                <span class="order asc">Updated</span>
            </th -->
                <th *ngIf="isCurrentUserAllowed()" width="7%">
                    <span>Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="{'active': isSelectedBooking(booking.id)}" *ngFor="let booking of bookingList"
                (click)="setClickedRow(booking)">
                <td>
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-2">
                        <label for="job-2"></label>
                    </div>
                </td>
                <td class="bookingID">
                    <div class="actions-container">
		<span>	{{booking.id | PrettyID}}
</span>
                        <ul class="dropdown menu custom actions hidden-desktop" data-dropdown-menu>
                            <li>
                                <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                                <ul class="menu right-side green">
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-check-mobile"></i> Accept</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-help"></i> Tentative</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-decline"></i> Decline</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </td>
                <td class="text-center">
                    <i class="status"
                       [ngClass]="{
    'icon-check-green': booking.status === 'green',
    'status-ready-to-process': booking.status === 'red',
   'status-allocated': booking.status === 'orange'
   }"></i>
                </td>
                <td style="text-transform: capitalize">{{stateToString(booking.state)}}</td>
                <td>
                    <div class="job-date">
                                    <span><i class="icon-time hidden-desktop"></i>
                                        <span><span>
										{{booking.venue.start_time_iso | date:'shortTime'}} -
										{{booking.venue.end_time_iso | date:'shortTime'}}</span><span>{{booking.venue.start_time_iso | date:'EEE d MMM yy'}}</span></span>
                                                                            </span>

                        <i *ngIf="isCurrentUserInvitedInterpreter(booking.interpreters)" class="icon-requested"></i>
                    </div>
                </td>
                <td>{{booking.client.organisation_name}}</td>
                <td>{{booking.deaf_person.first_name + ' ' +
                    booking.deaf_person.last_name}}
                </td>
                <td>{{booking.venue.suburb}}</td>
                <td class="text-center truncated">
                    <ng-container *ngIf="booking.interpreters.length > 0;">
                        <span *ngFor="let user of didInterpreterAccepted(booking.interpreters)">
                                    <b *ngIf="isCurrentUser(user.id); else sim_user_Block">
                                        {{user?.first_name  + ' ' + user?.last_name}}
                                    </b>
                                    <ng-template
                                            #sim_user_Block>{{user?.first_name  + ' ' + user?.last_name}}</ng-template>
									<br/>
								</span>
                    </ng-container>

                    <span *ngIf="didInterpreterAccepted(booking.interpreters).length <1 ;">To be filled</span>
                </td>
                <td class="truncated"><a href="javascript:void(0)" class="attach"><i class="icon-attach"></i></a>
                    {{booking.raw_nature_of_appointment}}
                </td>
                <!-- td><span class="underline">02-06 TS<br>7:15 A</span></td -->

                <td *ngIf="isCurrentUserAllowed()">
                    <ul class="dropdown menu custom actions" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                            <ul class="menu right-side green">
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                        class="icon-check-mobile"></i> Accept</a></li>
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                        class="icon-help"></i> Tentative</a></li>
                                <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                        class="icon-decline"></i> Decline</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>

            </tr>


            </tbody>
        </table>
    </section>
</main>
