<!--

        <div class="columns">

          <form class="auslan-form" #adminForm="ngForm">

<section class="userapp">
  <header class="header">
    <h1>Admin Area - User Management</h1>
    <label class="icon-email">
      EMAIL *

    <input type="email" id="email" name="email" placeholder="Enter your email" autofocus="" [(ngModel)]="newUser.email" name="email" #email="ngModel" email required>
    <p *ngIf="email.errors?.email;">The email is required and has to be in email format</p>
  </label>
  <label class="icon-lock">
    PASSWORD *
  <input id="pass" type="password" placeholder="Enter your password" [(ngModel)]="newUser.password" name="password" #password="ngModel" required>
    <p *ngIf="password.errors?.required">The password is required and has to be strong</p>
  </label>
  <label class="icon-lock">
    CONFIRM PASSWORD *
<input id="certainPassword" name="certainPassword"  type="password" placeholder="Confirm password" [(ngModel)]="newUser.confirm_password" name="certainPassword" #certainPassword="ngModel" [equalTo]="password">
    <p *ngIf="certainPassword.errors?.equalTo">The confirm password should match with password</p>
  </label>

  <label>FIRST NAME *
    <input type="text" class="new-user-first_name" placeholder="What is your first name" [(ngModel)]="newUser.first_name"
    name="first_name" #first_name="ngModel"  [rangeLength]="[2, 30]" required>
    <p *ngIf="first_name.errors?.rangeLength">The first name is required and should have minimum 2 characters</p>

  </label>
    <label>LAST NAME *

          <input type="text" class="new-user-last_name" placeholder="What is your last name" [(ngModel)]="newUser.last_name"
            name="last_name" #last_name="ngModel"  [rangeLength]="[2, 30]" required>
          <p *ngIf="last_name.errors?.rangeLength">The last name is required and should have minimum 2 characters</p>

    </label>
    <label>ROLE *

    <select name="role" [(ngModel)]="newUser.role">
       <option *ngFor="let item of roles | enumVal" [selected]="item.key =='4'" [value]="item.key">{{item.value}}</option>
    </select>
  </label>

<button name="add_user" class="button"
[disabled]="last_name.errors ||first_name.errors  || email.errors || password.errors|| certainPassword.errors " (click)="addUser(user)"> ADD User </button>
  </header>
  <section name="list_user" class="main" *ngIf="users?.length > 0">
    <ul class="user-list">
      <li *ngFor="let user of users">
        <div class="view">
          <label name="id" >{{user.id  | json }}</label>
          <label name="email" >{{user.email  | json }}</label>
          <label name="type" >{{user.type  | json }}</label>
          <input #box (keyup)="0"  type="text"  name="first_name_1" [value]="user.first_name">
          <label  name="last_name" >{{user.last_name  | json }}</label>

          <button name="edit_user" class="button" (click)="editUser(user, box.value)"> EDIT User </button>
          <button name="del_user" class="button" (click)="removeUser(user)"> DELETE User </button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="users?.length > 0">
    <span class="users-count"><strong>{{users.length}}</strong> {{users.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
</form>
</div>
-->
<section id="page-manage-users">
	<app-user-header></app-user-header>
		<app-user-filter [userModel]='newUser'></app-user-filter>
		<app-user-list [userList]='users'></app-user-list>
</section>
