<section id="filters">
  <section class="search-bar">
    <input type="text" name="search" id="search" placeholder="Search...">
    <button><i class="icon-settings"></i></button>
  </section>

  <section class="filters">
    <button class="button">Unallocated</button>
    <button class="button">Court<br>Melbourne</button>
    <button class="button">Unallocated<br>Next week</button>
    <button class="button">New<br>bookings</button>
    <button class="button">Filter 5</button>

    <div class="separator"></div>

    <ul class="dropdown menu custom gray" data-dropdown-menu>
      <li>
        <a href="#">All Job Types</a>
        <ul class="menu">
          <li><a href="#">All</a></li>
          <li><a href="#">AUSLAN</a></li>
          <li><a href="#">VRI</a></li>
        </ul>
      </li>
    </ul>

    <ul class="dropdown menu custom" data-dropdown-menu>
      <li>
        <a href="#">Actions</a>
        <ul class="menu right-side">
          <li><a href="#"><i></i> Use as template</a></li>
          <li><a href="#"><i></i> Add attachments</a></li>
          <li><a href="#"><i></i> Cancel</a></li>
        </ul>
      </li>
    </ul>
  </section>
</section>
