.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
.bulk-upload { padding: 0;}
.bulk-upload b { margin-bottom: 0.5em;}
.clear-pull{
    clear: both;
}
.cncl-btn{
    background: #fd4264 !important;
    border: #fd4264 !important;
}
.p-top-mrg{
    margin-top: 9em !important;
}
.div-top-mrg{
    margin-top: 4em !important;
}
.note-top-mrg{
    margin-top: 2em !important;
}