<header id="header-mobile">
    <h1>JOB #{{selectedBookingModel.id | PrettyID}}</h1>
</header>

<section id="page-common">
    <section id="static-flow">
        <section id="submenu">
            <nav>
                <a href="javascript:void(0);" class="active">Booking info</a>
            </nav>
            <div>
                <button (click)="showDialogBox(true)" class="button pink">Decline</button>
                <div class="sep"></div>
                <button (click)="showDialogBox(false)" class="button inverse">Accept</button>
            </div>
        </section>
        <section id="steps">
            <nav>
                <a href="javascript:void(0);" [ngClass]="{'active' : isState('Requested')}">Requested</a>
                <a href="javascript:void(0);" [ngClass]="{'active' : isState('In_progress')}">In Progress</a>
                <a href="javascript:void(0);" [ngClass]="{'active' : isState('Allocated')}">Allocated</a>
                <a href="javascript:void(0);" [ngClass]="{'active' : isState('Completed')}">Completed</a>
                <a href="javascript:void(0);" [ngClass]="{'active' : isState('Finished')
				|| isState('Unable_to_service') || isState('Cancelled')}">
                    {{isState('Cancelled') ? 'Cancelled' :
                    isState('Unable_to_service') ? 'Unable To Serve' : 'Finished' }}
                </a>
            </nav>
        </section>
    </section>
    <div class="job-status">
            <span class="status-invited">
                {{getStateString()}} <i class="icon-requested"></i>
            </span>
    </div>


    <section id="job-booking">
        <main>
            <h2>Job Details</h2>
            <table id="job-details-responsive" class="custom-small-table">
                <thead>
                <tr>
                    <th width="5%">Job</th>
                    <th width="14%">Date</th>
                    <th width="7%">Org</th>
                    <th width="6%">Client</th>
                    <th width="11%">Venue</th>
                    <th width="7%">Suburb</th>
                    <th width="5%">Type</th>
                    <th width="7%">#People</th>
                    <th width="12%">Special Instructions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-title="JOB NUMBER">{{selectedBookingModel.id | PrettyID}}</td>

                    <td data-title="DATE"><span>{{selectedBookingModel.venue.start_time_iso | date:'shortTime'}} - {{selectedBookingModel.venue.end_time_iso | date:'shortTime'}}<br>
													{{selectedBookingModel.venue.start_time_iso | date:'EEE d MMM yy'}}
													</span></td>
                    <td data-title="Language">Auslan</td>
                    <td data-title="Client">{{selectedBookingModel.contact.first_name}}</td>
                    <td data-title="VENUE">{{selectedBookingModel.venue.title}}</td>
                    <td data-title="SUBURB">
                        <a target="_blank" href="{{'https://www.google.com.au/maps/place/' +selectedBookingModel.venue.suburb}}">{{selectedBookingModel.venue.suburb}}</a></td>
                    <td data-title="TYPE OF JOB">{{selectedBookingModel.nature_of_appointment}}</td>
                    <td data-title="People">{{selectedBookingModel.venue.expected_attendance}}</td>
                    <td data-title="SPECIAL INSTRUCTIONS" class="new-line">{{selectedBookingModel.notes}}</td>
                    <!-- td align="center">
                        <ul class="dropdown menu custom" data-dropdown-menu>
                            <li>
                                <a href="#" class="icon-attach"></a>
                                <ul class="menu">
                                    <li><a href="#"><i class="icon-attach"></i> Attachments.xls</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>61 days (27 Jan)</td>
                    <td><span class="underline">02-06 TS<br>7:15 A</span></td -->
                </tr>
                </tbody>
            </table>
            <section class="columns">
                <div class="row">
                    <span>SECOND<br>INTERPRETER</span>
                    <span class="with-avatar">
                            <img src="assets/img/dummy/oval.png" alt=""> Paul Brent
                        </span>
                </div>
                <div class="row">
                    <span>DESCRIPTION</span>
                </div>
                <p>{{selectedBookingModel.notes}}</p>

                <div class="row">
                    <span>DO YOU WANT TO DO THIS JOB?</span>
                </div>
                <div class="manage-job-buttons">
                    <button class="button button-accept" (click)="showDialogBox(false)"><i class="icon-check-mobile"></i></button>
                    <button class="button button-help"><i class="icon-help"></i></button>
                    <button class="button button-decline" (click)="showDialogBox(true)"><i class="icon-decline"></i></button>
                </div>
            </section>

        </main>
    </section>
</section>
<app-mobile-footer>
    </app-mobile-footer>
