<h2>Job Details</h2>
<table id="job-details-responsive" class="custom-small-table">
    <thead>
    <tr>
      <th>Job</th>
      <th>Date</th>
      <th>Time</th>
      <th>Method</th>
      <th>Type</th>
      <th>Org</th>
      <th *ngIf='isClientOrInterpreter() && isBookingInProgress()'>Suburb</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>Client</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>Address</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>Venue</th>
      <th>Nature</th>
      <th>Specific</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>People</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>Special Instructions</th>
      <th *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>Attached</th>
      <th *ngIf='isCurrentUserAdminOrBookingOfficer() || isOrgRep()'>Date Added</th>
      <th *ngIf='isCurrentUserAdminOrBookingOfficer()'>Days Notice</th>
      <th *ngIf='isCurrentUserAdminOrBookingOfficer()'>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td data-title="JOB NUMBER">
            {{selectedBookingModel.id | PrettyID}}
            <span data-title="Link ID" *ngIf="isCurrentUserAdminOrBookingOfficer() && !!selectedBookingModel.link_id" class="linkId">
                <a>#{{selectedBookingModel.link_id}}</a>
            </span>
        </td>
        <td data-title="DATE"><span>{{selectedBookingModel.venue.start_time_iso | amDateFormat:'ddd D MMM YY'}}</span></td>
        <td data-title="TIME">
            <span>{{selectedBookingModel.venue.start_time_iso | amDateFormat:'h:mm A'}} - {{selectedBookingModel.venue.end_time_iso | amDateFormat:'h:mm A'}}</span>
        </td>
        <td>{{selectedBookingModel.method_type}}</td>
        <td>{{selectedBookingModel.service_type}}</td>
        <td data-title="ORGANISATION">{{selectedBookingModel.client.organisation_name}}</td>
        <td data-title="SUBURB" *ngIf='isClientOrInterpreter() && isBookingInProgress()'>
            <a target="_blank"
               href="{{'https://www.google.com.au/maps/place/' +selectedBookingModel.venue.suburb}}">
                {{selectedBookingModel.venue.suburb}}
            </a>
        </td>
        <td data-title="CLIENT" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>
            {{selectedBookingModel.deaf_person.first_name +
            ' ' +
            selectedBookingModel.deaf_person.last_name}}
        </td>
        <td data-title="ADDRESS" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>
            <a target="_blank"
               href="{{'https://www.google.com.au/maps/place/' + selectedBookingModel.venue.street_number + ' ' + selectedBookingModel.venue.street_name + ' ' + selectedBookingModel.venue.suburb}}">
                {{selectedBookingModel.venue.street_number
                + ' ' + selectedBookingModel.venue.street_name }}
            </a>
        </td>
        <td data-title="VENUE" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>{{selectedBookingModel.venue.title}}</td>
        <td data-title="NATURE">{{selectedBookingModel.nature_of_appointment}}</td>
        <td>{{selectedBookingModel.specific_nature_of_appointment}}</td>
        <td data-title="PEOPLE" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>{{selectedBookingModel.venue.expected_attendance}}</td>
        <td data-title="SPECIAL INSTRUCTIONS" class="new-line" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>
            {{selectedBookingModel.special_instructions}}
        </td>
        <td align="center" data-title="Attached" *ngIf='!(isClientOrInterpreter() && isBookingInProgress())'>
            <ul *ngIf="selectedBookingModel.documents_attributes.length > 0"
                class="dropdown menu custom"
                data-dropdown-menu>
                <li>
                    <a href="#" class="icon-attach"></a>
                    <ul class="menu">
                        <li *ngFor="let attachment of selectedBookingModel.documents_attributes">
                            <a  download
                                href="{{attachment.url}}">
                                <i class="icon-attach"></i> {{attachment.file_name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td data-title="Date Added" *ngIf='isCurrentUserAdminOrBookingOfficer() || isOrgRep()'>{{selectedBookingModel.created_at | date}}</td>
        <td *ngIf='isCurrentUserAdminOrBookingOfficer()'>Days Notice</td>
        <td data-title="UPDATED" *ngIf='isCurrentUserAdminOrBookingOfficer()'><span class="underline">{{selectedBookingModel.updated_at | date}}</span></td>
    </tr>
    </tbody>
</table>
