<div class="page-signup">
		<div class="wrapper">
			<div class="expanded row signup-list">
				<h1 class="title">SIGN UP AS</h1>

				<div class="small-4 columns interpreter">
					<div class="row align-middle">
						<div class="columns">
							<a href="" class="button-img">
								<img src="assets/img/interpreter-icon.svg" alt="">
							</a>
							<a href="" class="button">INTERPRETER</a>
						</div>
					</div>
				</div>
				<div class="small-4 columns client">
					<div class="row align-middle">
						<div class="columns">
							<a href="" class="button-img">
								<img src="assets/img/client-icon.svg" alt="">
							</a>
							<a href="" class="button">Client</a>
						</div>
					</div>
				</div>
				<div class="small-4 columns organization">
					<div class="row align-middle">
						<div class="columns">
							<a href="signup-organization.html" class="button-img">
								<img src="assets/img/organisation-icon.svg" alt="">
							</a>
							<a href="signup-organization.html" class="button">Organization</a>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
