<div [hidden]="selected">
	<section id="page-signup">
		<section>
			<a (click)="roleSelected('Interpreter')" class="type">
				<img src="assets/img/signup-interpreter.svg" alt="">
			</a>
			<a name="btnInterpreter" (click)="roleSelected('Interpreter')" class="button">Interpreter</a>
			</section>
				<section>
					<h1>SIGN UP AS</h1>
					<a (click)="roleSelected('Client')" class="type">
						<img src="assets/img/signup-client.svg" alt="">
					</a>
					<a name="btnClient" (click)="roleSelected('Client')" class="button">Client</a>
				</section>
				<section>
					<a (click)="roleSelected('Organization')" class="type">
						<img src="assets/img/signup-organisation.svg" alt="">
					</a>
					<a name="btnOrganization" (click)="roleSelected('Organization')" class="button">Organization</a>
				</section>
		</section>
</div>

<div [hidden]="!selected">
	<section id="page-signup-organisation">
		<section>
			<header>
				<h1>SIGN UP AS {{ selectedRole }}</h1>
				<p>Fields with * are required</p>
			</header>

			<form #registerForm="ngForm" class="auslan-form" novalidate action="#">
				<section>
					<div class="form-field half">
						<label>FIRST NAME *
									<input type="text" class="icon-user-circle" placeholder=""
									[(ngModel)]="model.first_name"
							    name="first_name" #first_name="ngModel"  [rangeLength]="[3, 20]" required>
									<span *ngIf="first_name.touched && !first_name.errors?.required && !first_name.errors?.rangeLength;" class="form-valid"></span>
									<span *ngIf="first_name.touched && (first_name.errors?.required || first_name.errors?.rangeLength);" class="form-error is-visible">
											<span data-tooltip aria-haspopup="true" class="has-tip left"
											data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
											title="This field is required. Min 3 characters required.">!</span>
										</span>
								</label>
					</div>
					<div class="form-field half">
						<label>LAST NAME *

									    <input type="text" class="icon-user-circle" placeholder=""
											 [(ngModel)]="model.last_name"   name="last_name" #last_name="ngModel"
											 [rangeLength]="[3, 30]" required>
											 <span *ngIf="last_name.touched && !last_name.errors?.required && !last_name.errors?.rangeLength;" class="form-valid"></span>
		 									<span *ngIf="last_name.touched && (last_name.errors?.required || last_name.errors?.rangeLength);" class="form-error is-visible">
		 											<span data-tooltip aria-haspopup="true" class="has-tip left"
		 											data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
		 											title="This field is required. Min 3 characters required.">!</span>
		 										</span>
								</label>
					</div>
					<div class="form-field half">
						<label class="icon-lock">
							    PASSWORD *
							  <input id="pass" type="password" placeholder="Enter your password"
								[(ngModel)]="model.password" name="password" #password="ngModel" required>

								<span *ngIf="password.touched &&  (!password.errors?.required && password.errors?.rangeLength);" class="form-valid"></span>
								<span *ngIf="password.touched && (password.errors?.required || password.errors?.rangeLength);" class="form-error is-visible">
									<span data-tooltip aria-haspopup="true" class="has-tip left"
									data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
									title="This field is required.">!</span>
								</span>
							  </label>
					</div>
					<div class="form-field half">
						<label class="icon-lock">
							    CONFIRM PASSWORD *
							<input id="certainPassword" name="certainPassword"
							type="password" placeholder="Confirm password"
							[(ngModel)]="model.confirm_password" name="certainPassword" #certainPassword="ngModel" [equalTo]="password" required>
							<span *ngIf="certainPassword.touched && (!certainPassword.errors?.required && !certainPassword.errors?.equalTo);" class="form-valid"></span>
							<span *ngIf="certainPassword.touched && (certainPassword.errors?.required || certainPassword.errors?.equalTo);" class="form-error is-visible">
								<span data-tooltip aria-haspopup="true" class="has-tip left"
								data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
								title="This field is required.">!</span>
								</span>
							  </label>
					</div>
					<div class="form-field half">
						<label class="icon-email">
						      EMAIL *
						    <input type="email" id="email" placeholder="Enter your email"
								 [(ngModel)]="model.email" name="email" #email="ngModel" email required>
								 <span *ngIf="email.touched && !email.errors?.email;" class="form-valid"></span>
 								<span *ngIf="(email.dirty || email.touched) && (email.errors?.required || email.errors?.email);" class="form-error is-visible">
									<span data-tooltip aria-haspopup="true" class="has-tip left"
									data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
									title="This field is required.">!</span>
 									</span>
						  </label>
					</div>
					<div class="form-field half">
						<label>MOBILE *
									<input type="tel" placeholder="" [(ngModel)]="model.mobile" name="mobile" #mobile="ngModel" required>
									<span *ngIf="mobile.touched && !mobile.errors?.required;" class="form-valid"></span>
									<span *ngIf="mobile.touched && mobile.errors?.required;" class="form-error is-visible">
										<span data-tooltip aria-haspopup="true" class="has-tip left"
										data-template-classes="tooltip-error" data-disable-hover="false" tabindex="4"
										title="This field is required.">!</span>
										</span>
								</label>
					</div>
				</section>

				<div align="center">

					<button name="register_user" type="submit" [disabled]="mobile.errors || last_name.errors || first_name.errors || password.errors || email.errors || certainPassword.errors " (click)="addUser(user)" class="button">Register</button>
				</div>
				<app-notification [notification]='errors' [isError]="true"></app-notification>
				<div [hidden]="!this.model.id">
					<app-notification [notification]='successMessage' [isError]="false"></app-notification>
				</div>
				<!-- p *ngIf="password.errors?.required">The password is required and has to be strong</p>
							 <p *ngIf="last_name.errors?.rangeLength">The last name is required and should have minimum 2 characters</p>
							 <p *ngIf="first_name.errors?.rangeLength">The first name is required and should have minimum 2 characters</p>
									 <p *ngIf="certainPassword.errors?.equalTo">The confirm password should match with password</p>
							 <p *ngIf="email.errors?.email;">The email is required and has to be in email format</p -->



			</form>
		</section>
	</section>
</div>
